:root {
  --background: #2F3136;
  --footer-text: #8E9297;
  --link: #0B507F;
  --text: #B9BBBE;
  --ghostery: #00AEF0;
  --dawn: #FF7E74;
  --width: 570px;
  --spacing: 38px;
  --margin: 112px;
  --header: #202225;
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: bold;
  font-weight: 700;
  src: url('./fonts/RobotoCondensed-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/RobotoCondensed-Regular.woff') format('woff');
}


@media screen and (min-width: 1600px) {
  :root {
    --margin: 250px;
  }
}

html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: var(--text);
  font-size: 14px;
  scroll-behavior: smooth;
  min-height: 440px;
}

html, body {
  margin: 0;
  padding: 0;
}

html {
  background: rgb(0,152,240);
  background: linear-gradient(166deg, rgba(0,152,240,1) 0%, rgba(0,174,240,1) 24%, rgba(173,138,186,1) 72%, rgba(255,126,116,1) 100%);
}

@media (prefers-color-scheme: light) {
  body {
    background: rgba(0, 0, 0, 0.0);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --dawn: #B15D58;
    --header: white;
    --link: #76CDEA;
  }

  body {
    background: rgba(0, 0, 0, 0.3);
  }

  .tile {
    color: var(--text) !important;
  }

  .tile:hover {
    color: white !important;
  }

  #logo {
    opacity: 0.34 !important;
  }
}

html, body {
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

h1, h2 {
  font-family: 'Roboto Condensed';
  color: white;
  text-transform: uppercase;
}

h1 {
  font-size: 40px;
  line-height: 40px;
  font-weight: bold;
  margin: 0;
  margin-top: 40px;
  margin-bottom: 10px
}

h2 {
  font-size: 22px;
  line-height: 24px;
  font-weight: normal;
  margin: 0;
}

button {
  background: #00AEF0;
  border: 0;
  margin: 0 auto;
  display: block;
  cursor: pointer;
  color: white;
  font-weight: bold;
  padding: 10px 40px;
  border-radius: 12px;
}

.bg {
  height: 100%;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  padding-right: 40px;
  padding-left: 40px;
  padding-bottom: 60px;
  box-sizing: border-box;
  width: var(--width);
  width: auto;
  max-width: var(--width);
  background-color: rgba(52, 57, 61, 0.3);
  background: linear-gradient(180deg, rgba(52, 57, 61, 0.3) 0%,  rgba(52, 57, 61, 0) 100%);
  border-radius: 60px;
}

.hidden {
  display: none !important;
}

ul {
  padding-left: 45px;
  list-style-type: none;
}

ul li {
  position: relative;
  padding: 7px 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  font-size: 15px
}

.description {
  font-size: 12px;
  line-height: 17px;
  color: rgba(255, 255, 255, 0.8);
}

.icon {
  background: white;
  height: 40px;
  width: 40px;
  border-radius: 20px;
  position: absolute;
  left: -43px;
  top: -4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon img {
  height: 28px;
  width: 28px;
}

main {
  display: grid;
  grid-template-columns: 50% 50%;
}

main aside {
  margin-top: 20px;
  padding-left: 20px;
  border-left-width: 1px;
  border-right-width: 0;
  border-style: solid;
  border-image:
    linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.3),
      rgba(255, 255, 255, 0)
    ) 1 100%;
}

button {
  margin-top: 40px;
}

input[type=radio] {
  position: relative;
  bottom: 1px;
}
